.section-hero {
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 60rem;
  position: relative;
  padding-top: 25rem;
  padding-bottom: 12rem;

  .content {
    color: $text-color;
    margin-bottom: 3rem;
  }
}

.title-hero,
.subtitle-hero {
  @include respond-to('mobile-large') {
    font-size: 3rem;
  }
  font-size: 5rem
}

.title-hero {
  @include respond-to('mobile-large') {
    margin-bottom: 1.5rem;
  }
  color: $content-color;
  margin-bottom: 3rem;
}

.subtitle-hero {
  color: $primary-color;
}
